[submodule "assignment-1-setup-your-webgl-application-soyeon-nam"]
	path = assignment-1-setup-your-webgl-application-soyeon-nam
	url = https://github.com/VIDITeaching/assignment-1-setup-your-webgl-application-soyeon-nam
